#enroll-list {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:  center;
}

#enroll-list .enroll-list-area {
  margin: 40px 0px;
  padding: 30px 0px;
  background: url(../img/otherpage/dirty_old_shirt.png);
  background-size: auto;
  width: 100%;
  text-align: center;
  border:  3px solid #960E0E;
}

#enroll-list .enroll-list-area .enroll-catgory {
  margin: 30px 0px;
  padding: 0px 30px;
  width: 100%;
  text-align: left;
}

#enroll-list .enroll-list-area .enroll-catgory h2{
  margin-left: 60px;
}

#enroll-list .enroll-list-area .enroll-list-item {
  width: 100%;
  text-align: center;
  background-color: #333743;
  border: 1px solid #195da1;
  width: 100%;
  word-wrap: break-word;
}

#enroll-list .enroll-list-area .enroll-list-item p{
  margin: 10px 0px;
}

#enroll-list #status-false #status p{
  color: #d80000
}

#enroll-list #sracing-true #status p, #enroll-list #sitem-true #status p, #enroll-list #gracing-true #status p{
  color: #0eca04
}

@media screen and (max-width: 768px){

  #enroll-list .enroll-list-area .enroll-catgory h2{
    margin-left: 20px;
  }

  #enroll-list .enroll-list-area {
    margin: 20px 0px;
    padding: 10px 0px;
  }

  #enroll-list .enroll-list-area .enroll-catgory {
    margin: 20px 0px;
    padding: 0px 6px;
  }
}

@media screen and (max-width: 414px){
  #enroll-list .enroll-list-area .enroll-catgory h2{
    margin-left: 10px;
    font-size: 22px;
  }

  #enroll-list .enroll-list-area {
    padding: 0px;
  }

  #enroll-list .enroll-list-area .enroll-list-item .col {
    padding: 0px 6px;
  }

  #enroll-list .enroll-list-area .enroll-list-item p {
    font-size: 16px;
  }
}
