#reward{
  width: 100%;
  margin: 80px 0px;
  display: flex;
  align-items: center;
  justify-content:  center;
}

#reward .reward-area{
  width: 100%;
  padding: 40px 80px;
  background: url(../img/otherpage/dirty_old_shirt.png);
  background-size: auto;
  border:  3px solid #960E0E;
}

#reward .reward-tab-bar{
    text-align: center;
}

#reward .reward-tab-bar p{
    font-size: 24px;
    padding-top: 8px;
}

#reward .reward-tabcontent {
    margin: 50px 0px;
}

#reward .reward-tabcontent .signal-reward{
    margin: 50px 0px;
}

#reward .reward-tabcontent .signal-reward .signal-reward-left {
    margin: 20px 0px;
}

#reward .reward-tabcontent .reward-tabcontent-title {
    margin: 25px 0px;
}

#reward .reward-tabcontent img{
    width: 100%;
    height: auto;
    border: 5px solid #960E0E;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 1024px){
  #reward .reward-area{
    padding: 40px 40px;
  }
}

@media screen and (max-width: 768px){
  #reward{
    margin: 20px 0px;
  }

  #reward .reward-area{
    padding: 20px 10px;
  }

  #reward .reward-tabcontent .reward-tabcontent-title h2{
      font-size: 26px;
  }

  #reward .reward-tabcontent .signal-reward .col{
      padding:0px 3px;
  }
}

@media screen and (max-width: 500px){
  #reward .reward-tabcontent {
      margin: 20px 0px;
  }

  #reward .reward-tabcontent .signal-reward h3{
      font-size: 20px;
  }

  #reward .reward-tabcontent .signal-reward p{
      font-size: 12px;
      margin: 0px 0px 4px 0px;
  }

  #reward .reward-tabcontent .signal-reward .signal-reward-left {
      margin: 3px 0px;
  }
}
